.cart-page{
    margin: 15px auto;
}
table{
    width: 100%;
    border-collapse:collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 8px;
    color: rgb(0, 0, 0);
    /* background: rgb(70, 61, 107); */
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td button{
    width: 20px;
    height: 28px;
    padding: 5px;
    border:none;
    border-radius: 3px;
    cursor: pointer;
}
td a{
    color:red;
    font-size: 12px;
}
td img{
    width: 150px;
    height: 120px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
    font-size: 17px;
}
.total-price table{
     border-top: 3px solid blue;
     width: 100%;
     max-width: 500px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

tr th{
    font-weight: 100px;
    font-size: 15px;
}
.count{
    font-size: 15px;
}
.price{
    font-size: 12px;
}


 .btnn:hover {
        text-decoration: underline;
        color: #fa0f0f; 
        

      }
 .btnn{
    width: 0px;
    color: black;
    cursor: pointer;
    margin-left:20px;
    
 }     

  