nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(121, 115, 127);
    padding: 10px 40px;
    box-shadow: 0 5px 15px rgb(0,0,0,0.07);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
.navbar li a{
 text-decoration: none;
 font-size: .9rem;
 font-weight: 600;
 color: white;
 transition: 0.3s ease-in-out;
}
.navbar li a:hover,
.navbar li a.active{
    color:rgb(219, 152, 17)

}
.navbar li a:hover::after,
.navbar li a.active::after
{
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(219, 212, 200);
    position: absolute;
    bottom: -4px;
    left:20px;
}

.mobile {
    display: none;
}
.mobile i{
    color: rgb(250, 249, 249);
}
.ab{
    cursor: pointer;
}

@media screen and (max-width:769px) {
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 90px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background: rgb(100, 99, 99);
        box-shadow: 0 40px 60px rgba(0,0,0, .1);
        padding :40px 0 0 10px;
        transition: 0.4s ease-in-out;
        

    }

    .navbar.active{
        right: 0px;
    }

    .navbar li{
        margin-bottom: 25px;
    }

    .mobile {
        display: block;
    }
    .mobile i{
        font-size: 24px;
        cursor: pointer;
    }
    
}

h1{
 font-weight: 10;
 font-size: 24px;
 color: rgb(19, 18, 18);
}

/*dropdown */

  
  ul li {
     list-style: none;
     font-size: 18px;
  }
  ul li button {
      font-size: inherit;
      border: none;
      background-color: transparent;
      cursor: pointer;
      width: 100%;
      margin: none;
      color: rgb(251, 247, 247);
      font-size: .9rem;
 font-weight: 600;
  }
  
  ul li a {
     display: block;
     color: inherit;
     text-decoration: none;
  }
  
  ul li a, ul li button {
    padding: 0.7rem 1rem;
    text-align: left;
  }
  
  
  /* toggle main dropdown */
  
 
  .dropdown {
    padding: 2px 1.5rem;
    height: 0px;
    overflow: hidden;
    transition: height ease 0.2s;
  }
  
  li:focus-within .dropdown {
    height: 135px;
  }

  
  /* MEDIA QUERIES  */
  @media (min-width: 640px) {
    
    .header-content {
      display: flex;
    }
    
    .menus {
      position: static;
      visibility: visible;
      background: #1c0f0f;
      display: flex;
      transform: initial;
    }
     
    ul li {
      position: relative;
      font-size: 14px;
    }
    
    ul li a:hover,
    ul li button:hover {
      background-color:rgb(58, 21, 21);
      background: none;
    }
    
    .dropdown {
      position: absolute;
      right: 0;
      left: auto;
      box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
      0 4px 6px -2px rgba(149, 148, 151, 0.16);
      z-index: 99;
      
      padding: 0;
      background-color:rgb(110, 107, 113);
      border-radius: 0 0 0.5rem 0.5rem; 
    }
    ul li:hover .dropdown {
      height: auto
    }
    ul li:hover > button > .arrow {
      transform: rotate(-225deg);
      margin-top: 4px;
    }
  }
  .button:hover::after,
.button.active::after
{
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(219, 212, 200);
    position: absolute;
    bottom: -4px;
    left:20px;
}
.btn:hover,
.btn:active{
    color:rgb(219, 152, 17)
}

.avtar{
  color: rgb(250, 246, 246);
  font-size: 1.3rem;
  margin-left: 420px;
  cursor: pointer;
  
}

@media (min-width: 768px) and (max-width: 1024px) {
  .avtar {
    margin-left: 50px;
  }
}

 @media (min-width: 1024px) {
  .avtar {
    margin-left: 860px;
  }
} 
    

/* for avtr dropdown */



.menu {
  position: absolute;
  list-style-type: none;
  margin: 19px 0 ;
  padding: 0;
  border: 1px solid rgb(219, 219, 219);
  width: 110px;
  box-shadow: 1px;
  border-radius: 12px;
}

.menu > li {
  margin: 10;
  background-color:rgb(121, 115, 127);
}

/* .menu > li:hover {
  background-color: lightgray;
} */

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;
  background: none;
  color: inherit;
  border: none;
  padding: 19px;
  margin: 0;
  font: inherit;
  cursor: pointer;
  
}
.item{
  background-color:rgb(121, 115, 127);
}




/* @media (max-width: 768px) {
  .avtar {
    margin-left:70px;
  }
} */

